<div class="post">
    <div class="header">
        <h1>Заголовок</h1>
        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>автор</strong>
        <small>30.03.2022</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, esse saepe suscipit sed nostrum laboriosam iusto doloremque sunt. Architecto, eum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, esse saepe suscipit sed nostrum laboriosam iusto doloremque sunt. Architecto, eum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, esse saepe suscipit sed nostrum laboriosam iusto doloremque sunt. Architecto, eum.</p>
    </div>
</div>